@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    /*background: #c4e9f9;*/
}

#calculator {
    display: flex;
    flex-direction: column;
}

#screen {
    background: #c4e9f9;
    height: 150px;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 6rem;
    text-align: end;
    padding: 20px;
}

#buttons {
    display: flex;
}

button {
    position: relative;
    cursor: pointer;
    outline: none;
    border: 2px solid #b18597;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    color: #382b22;
    padding: 1.25em 2em;
    background: #fff0f0;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), 150ms cubic-bezier(0, 0, 0.58, 1);
    margin: 20px;
}

button::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

button:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
}

button:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}

button:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

#operators {
    display: flex;
    flex-direction: column;
}